@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Comitl "Olla inteligente"</h1>
    <p>Comitl es un proyecto independiente y libre creando una sistema para la preparacion de cerveza artesanal y otros productos
    con algunos sensores y arduino  para descargar </p>
    <p><a href="https://github.com/gusLopezC/SistemaAPIywebComilt" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

